<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cip.app"
        versionCode="1" 
        version   = "1.1.0">

    <name>CIP Móvil</name>

    <description>
        Aplicación móvil del Colegio de Ingenieros del Perú.
    </description>

    <author href="http://www.cip.org.pe" email="webmaster@cip.org.pe">
        CIP - CN / Área de Informática.
    </author>
    
    <icon src="img/logo_s.png" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.5.0" />
    
</widget>
