body {
}



#menu.tabletMenu {
    background-color: #13294a !important;
}

#afui #header h1 {
    width: 100% !important;
    left: 0 !important;
}

#afui h2 {
    height: auto !important;
}

#afui #content {
    background-color: #fff;  
}


#afui .panel {
    background-color: #fff !important;
}

#page1 button, #page10 button {
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    width: 200px;
    padding: 10px 5px;
    background-color: #f00;
    color: #fff;
    
}

#page1 button a, #page10 button a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #000;
}

div.recomendado img,div.eventos img, div.catItemView {
    margin: 5px;
    
}

a {
color: #bc0202;
}

div.catItemView.groupPrimary {
    margin-bottom: 25px;
/*float: left;*/
}

div.catItemView {
    width: 280px;
    display: inline-block;
    float: inherit;
}

div.catItemHeader {
    text-align: left;
    padding: 5px;
    width: 280px;
    position: absolute;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);


}

div.catItemTitle h3 {
    text-shadow: 1px 1px #000;
    color:  #fff;
    text-decoration:none;
}
span.catItemDateCreated {
    text-shadow: 1px 1px 1px #000;
    font-size: 12px;
    color: #E31E24;
    font-weight: bold;
}

div.catItemImageBlock {
    position: relative;
    z-index: 0;
}

div.catItemImageBlock img {
    width: 280px;
}

#revistas div.catItemImageBlock img {
    height: 411px;
}


#noticiasitem h2, #eventositem h2, #revistasitem h2 {
    color: #E31E24 !important;
}

#noticiasitem span.ItemDateCreated, #eventositem span.ItemDateCreated {
    font-weight: bold;
    color: #13294a;

}
div.item {
    padding: 1%;
}

div.item img {
    
    width: 100%;
}

div.item p {
    text-align: justify;
}

.clr {

    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    float: none;

}

div.itemAttachments ul {
    margin-left: 10px;
}
div.itemAttachments ul li{
    padding: 5px 0 0 0;
}

div.itemImageGallery img {
    margin: 0 10px
}