body {
}


#header.hasMenu {
    background: #b22222 !important;
}

#menu.tabletMenu {
    background-color: #13294a !important;
}

#afui #content {
    background-color: #fff;  
}

#afui .panel {
    background-color: #fff !important;
}

#page1 button {
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    width: 200px;
    padding: 10px 5px;
    background-color: #f00;
    
}

#page1 button a {
    text-decoration: none;
    color: #fff;
}

p.recomendado img {
    margin: 5px;
    
}

a {
color: #bc0202;
}

div.catItemView.groupPrimary {
/*float: left;*/
}

div.catItemHeader,div.catItemBody {
    /*float: right*/
}
